<!-- <div class="img"> 
</div> -->

<div class="about container" >
    <!-- <div class="glass"></div> -->
    <div class="main">
        <div class="wineLove">
            <div class="wine">Wine</div>
            <div class="love">Love</div>
        </div>
        <div class="aboutText">Наша основна місія - забезпечити найкраще обслуговування клієнтів та створити враження. У
            нас
            ви можете знайти унікальні колекції вин. Ми пропонуємо вашій увазі все більше світової продукції
            і даємо більше причин для святкування. Від першого натискання на кнопку "Купити", і до моменту, коли ви
            відкриєте улюблений
            напій, ми раді допомагати вам на цьому шляху.</div>
    </div>

    <div class="glass">
    </div>
</div>
<div class="aboutImg">
    
</div>